<mat-toolbar-row class="flex-container">
  <div class="col-1">
    <img id="header-logo" class="pointer" (click)="navTo('home')" src="assets/icons/logo.png" />
  </div>
  <div class="col-2">
    <a [matMenuTriggerFor]="menu" id="menu-trigger" class="pointer">Para empresas <mat-icon>keyboard_arrow_down</mat-icon></a>
    <mat-menu #menu="matMenu">
      <button mat-menu-item *ngFor="let menu of contentMock.navMenu" (click)="navTo(menu.redirectRoute)">{{menu.title}}</button>
    </mat-menu>
  </div>

  <div class="col-3">
    <button mat-stroked-button (click)="addCard()"  color="primary">
      <mat-icon>person</mat-icon>
      criar novo card
    </button>
    <span *ngFor="let button of contentMock.buttons">
      <button *ngIf="button.action === 'login';else normalBtn" [matMenuTriggerFor]="loginMenu" mat-stroked-button color="primary">
        <mat-icon>{{button.icon}}</mat-icon>
        {{ button.title }}
      </button>
      <ng-template #normalBtn>
        <button mat-stroked-button color="primary">
          <mat-icon>{{button.icon}}</mat-icon>
          {{ button.title }}
        </button>
      </ng-template>

      <mat-menu #loginMenu="matMenu">
        <div class="login-form" [formGroup]="loginForm">
          <div (click)="$event.stopPropagation()">
            <h3>Acessar</h3>
            <mat-form-field appearance="fill" class="example-full-width">
              <mat-label>Nome de Usuário</mat-label>
              <input matInput formControlName="userName" placeholder="Ex. mendex22">
              <mat-error *ngIf="loginForm.get('userName').hasError('userName') && !loginForm.get('userName').hasError('required')">
                  {{ errorMessages.user_name_invalid}}
                </mat-error>
                <mat-error *ngIf="loginForm.get('userName').hasError('required')">
                  {{errorMessages.user_name_required}}
                </mat-error>
            </mat-form-field>
            <mat-form-field appearance="fill" class="example-full-width">
                <mat-label>Senha</mat-label>
                <input matInput type="password" formControlName="password" placeholder="senha">
                <mat-error *ngIf="loginForm.get('password').hasError('minLength') && !loginForm.get('password').hasError('required')">
                  {{ errorMessages.password_invalid}}
                </mat-error>
                <mat-error *ngIf="loginForm.get('password').hasError('required')">
                  {{errorMessages.password_required}}
                </mat-error>
            </mat-form-field>
            <span id="resetPass">Esqueci minha senha</span>
          </div>
          <button mat-flat-button color="primary" (click)="login($event)">
            Login
            <mat-icon>play_arrow</mat-icon>
          </button>
        </div>
      </mat-menu>
    </span>
  </div>
</mat-toolbar-row>

<mat-sidenav-container>
  <mat-sidenav-content><ng-content></ng-content></mat-sidenav-content>
</mat-sidenav-container>
