<div class="content flex-container" [ngStyle]="{
  'background': content.backgroundImage
}">
  <div class="col-1">
    <div class="phone" *ngIf="content.phoneStockContent">
      <h2>{{content.phoneStockContent?.title}}</h2>
      <p>{{content.phoneStockContent?.description}}</p>
    </div>
  </div>
  <div class="col-2">
    <img src="{{content.stockImage}}">
  </div>
  <div class="col-3">
    <app-secondary-action-card [content]="content.secondaryAction"></app-secondary-action-card>
  </div>
</div>
