@import "src/assets/styles/colors";

.flex-container {
  padding-right: 30px;
  h1 {
    margin: 0;
  }
  p {
    margin: 16px 0 0;
  }
  button {
    margin-top: 16px;
  }

}
.topic-row {
  align-items: center;
  mat-icon {
    color: $app-dark-gray;
    font-size: 40px;
  }
  padding: 10px 0;
  .topic-content {
    p, h4 {
      margin: 4px 0;
      color: white;
    }
    h4 {
      font-size: 18px;
      font-weight: 500;
    }
    margin-left: 40px;
  }
}
