h2 {
  font-weight: 600;
  line-height: 50px;
  width: 20%;
  margin: 0;
}
h4 {
  width: 30%;
}
.description {
  padding-top: 10px;
}
.buttons {
  width: 20%;
  button {
    margin: 18px 0;
    font-weight: 400;
  }
}
