.card {
  background-color: white;
  border-radius: 8px;
  padding: 20px;

  h1 {
    font-size: 20px;
    line-height: 25px;
    margin: 0;
  }

  p {
    padding-top: 10px;
    font-size: 13px;
  }

  mat-form-field {
    width: 100%;
    padding: 8px 0;
  }

  button {
    width: 100%;
    margin: 8px 0;
  }
}
