@import "src/assets/styles/colors";

.grid-container {
  display: flex;
  justify-content: center;
  align-items: center;
  .card {
    padding: 24px 16px;
    background-color: #fff;
    background-size: 85% 50%;
    background-position: calc(80% - 30px) calc(100% - -1px);
    background-repeat: no-repeat;
    margin: 0 16px;
    position: relative;
    border-radius: 8px;
    transition: 0.4s;
    -webkit-transition: 0.4s;
    box-shadow: 1px 4px 10px 8px rgba(0,0,0,0.015);
    -webkit-box-shadow: 1px 4px 10px 8px rgba(0,0,0,0.015);
    -moz-box-shadow: 1px 4px 10px 8px rgba(0,0,0,0.015);

    h4 {
      width: 50%;
      color: $app-dark-gray;
      font-size: 22px;
      font-weight: 500;
      text-transform: uppercase;
    }
    p {
      padding-top: 12px;
      width: 80%;
      color: #5a5a5a;
    }

    mat-icon {
      font-size: 40px;
    }
  }
  .card:hover {
    transform: scale(1.1);
    box-shadow: 1px 4px 10px 8px rgba(0,0,0,0.075);
    -webkit-box-shadow: 1px 4px 10px 8px rgba(0,0,0,0.075);
    -moz-box-shadow: 1px 4px 10px 8px rgba(0,0,0,0.075);

  }
}
.observations {
  //padding-bottom: 140px;
}
